.CarusselImg {
    width: 100%;
    height: calc(100vh - 150px);
    filter:brightness(80%);
}
.CarusselH3 {
    color: #962424;
}

.CarusselText {
    font-size: x-large;
}

#estructuraTexto {
    font-size: large;
}

.CarusselButton {
    position: absolute;
    left: 45%;
}
