.CarusselImg {
    width: 100%;
    height: calc(100vh - 150px);
}
.CarusselH3 {
    color: #962424;
}

.CarusselText {
    position: relative;
    top: 50%;
    left: 50%;
}
.CarusselButton {
    position: absolute;
    left: 45%;
}
