
.footer{
  background: rgb(6,16,41);
  background: linear-gradient(90deg, rgba(6,16,41,1) 0%, rgba(17,39,92,1) 33%, rgba(63,103,198,1) 100%);
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
