.usuario {
  padding-top: 3px;
  font-size: 14px;
  margin: 0;
}

.disponible {
  margin: 0;
  color: green;
  font-size: 11px;
  padding-top: 3px;
}

.contenedor {
  padding: 10px;
  height: 55px;
  background-color: #6E48AA;
  display: flex;
  color: white;
}

.chatbotImg {
    height: 30px;
    margin-right: 8px;
}

.onlineStatus {
    display: inline-block;
    line-height: 7px;
}

.onlineIcon {
    background-color: #2ea247;
    border-radius: 50%;
    display: flex;
    width: 8px;
    height: 8px;
}

.disponible {
  position: relative;
  left: 15%;
  color: white;
}

.icon{
  position: absolute;
  right: 0;
  margin: 2px 15px 0 0 ;
  font-size: 35px;
  cursor: pointer;
}
